{% extends 'base.html' %}

    {% block content %}
    <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">Accountability</h1>

              <div class="row">


                <div class="col-lg-12">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Accountability and responsibility</h6>
                    </div>
                    <div class="card-body">
                      <p>If something does go wrong, who is ultimately accountable? Who is responsible for the unwanted action? Who should be prosecuted? </p>
                      <p>This is a question that has not yet been answered, and is the root of most of peoples problems regarding AI. Is it the programmers responsibility? the owner of the developers company? the owner of the algorithm? The owner of the building where the algorithm is hosted? The USER?</p>
                      <p> Going forward, laws need to be decided in order to pinpoint the responsibility. This is important to make sure the work is done well, and does not cause damage. If no one has the responsibility for the AIs actions, everyone is free to design and develop whatever AI they can muster without any regard for ethics, moral values, empathy or moral compass. </p>
                      <br /><br /><br />
                      <div>
                          <img style="height:400px" src="/static/img/ts.jpg" />
                          <img style="height:400px" src="/static/img/robot.png" /><br />
                          <br />

                      </div>
                    </div>
                  </div>
                </div>
             <!-- row end -->
              </div>
              <div class="row h-30">
                <div class="col-xl col-lg-7">
                  <div style="text-align: right">
                    <br><br>
                    <a href="../" class="btn btn-info btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-arrow-right"></i>
                      </span>
                      <span class="text">Return to main page</span>
                    </a>
                  </div>
                </div>
                </div>

    {% endblock %}
