{% extends 'base.html' %}

    {% block content %}
    <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">Ethics</h1>

              <div class="row">


                <div class="col-lg-12">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Ethics within arteficial intelligence</h6>
                    </div>
                    <div class="card-body">
                      <p>Arteficial Intelligence brings up a lot of important ethical questions. These are questions like privacy, influence, ownership and responsbility </p>
                      <p>What should automatic programs have access to? Everything? Who could exploit it? </p>
                      <div>
                          <img style="height:400px" src="/static/img/priv.png" />
                      </div>
                    </div>
                  </div>
                </div>
             <!-- row end -->
              </div>
              <div class="row h-30">
                <div class="col-xl col-lg-7">
                  <div style="text-align: right">
                    <br><br>
                    <a href="../privacy/" class="btn btn-info btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-arrow-right"></i>
                      </span>
                      <span class="text">Continue</span>
                    </a>
                  </div>
                </div>
                </div>

    {% endblock %}
