{% extends 'base.html' %}

    {% block content %}
    <!-- Page Heading -->
              <h1 class="h3 mb-4 text-gray-800">Weaponization</h1>

              <div class="row">


                <div class="col-lg-12">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Weaponization</h6>
                    </div>
                    <div class="card-body">
                      <p>Artificial Intelligence can be used as weapons and weapons of mass destruction as well. Today, we are using AI for targeting devices but is it right that the computer decides what the bomb will hit? </p>
                      <p>AI is researched to replace humans in the war zones therefore reducing lives lost, but it will reduce the empathic capabilities of the troops and we dont know if more innocent lives will be lost if we do this. Arguably, wars will also become more destructive and dangerous based on having no human casualities, in essence only losing money. Or does actually society care more for money than life?</p>
                        <br /><br /><br />
                      <div>
                          <img style="height:400px" src="/static/img/weapon.jpg" />
                          <img style="height:400px" src="/static/img/weapon2.jpg" /><br />
                          <br />

                      </div>
                    </div>
                  </div>
                </div>
             <!-- row end -->
              </div>
              <div class="row h-30">
                <div class="col-xl col-lg-7">
                  <div style="text-align: right">
                    <br><br>
                    <a href="../account/" class="btn btn-info btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-arrow-right"></i>
                      </span>
                      <span class="text">Continue</span>
                    </a>
                  </div>
                </div>
                </div>

    {% endblock %}
