{% extends 'base.html' %}

    {% block content %}
    <!-- Page Heading -->
              <h1 class="h3 mb-1 text-gray-800">Where is AI used</h1>
              <p class="mb-4">Below is a section of images where AI could have been used. What do you think is correct?</p>

              <!-- Content Row -->
              <div class="row">

                <!-- first column -->
                <div class="col-lg-3">

                  <div class="card mb-4 py-3 border-bottom-primary">
                    <div class="card-body">
                      <img width=250px src="/static/img/car.jpg" />
                    </div>
                  </div>

                  <div class="card mb-4 py-3 border-bottom-success">
                    <div class="card-body">
                      <img width=250px src="/static/img/robot.png" />
                    </div>
                  </div>

                  <div class="card mb-4 py-3 border-bottom-info">
                    <div class="card-body">
                      <img width=250px src="/static/img/2.png" />
                    </div>
                  </div>
                </div>

                <!-- 2nd column -->
                <div class="col-lg-3">

                  <div class="card mb-4 py-3 border-bottom-warning">
                    <div class="card-body">
                      <img width=250px src="/static/img/3.jpg" />
                    </div>
                  </div>

                  <div class="card mb-4 py-3 border-bottom-danger">
                    <div class="card-body">
                      <img width=250px src="/static/img/4.jpg" />
                    </div>
                  </div>

                  <div class="card mb-4 py-3 border-bottom-primary">
                    <div class="card-body">
                      <img width=250px src="/static/img/5.gif" />
                    </div>
                  </div>

                </div>

                <!-- 3rd -->
                <div class="col-lg-3">

                  <div class="card mb-4 py-3 border-bottom-success">
                    <div class="card-body">
                      <img width=250px src="/static/img/6.jpg" />
                    </div>
                  </div>

                  <div class="card mb-4 py-3 border-bottom-info">
                    <div class="card-body">
                      <img width=250px src="/static/img/7.jpg" />
                    </div>
                  </div>

                  <div class="card mb-4 py-3 border-bottom-primary">
                    <div class="card-body">
                      <img width=250px src="/static/img/8.png" />
                    </div>
                  </div>


                </div>
                <div class="col-xl col-lg-7">
                  <div>
                    <br><br>
                    <a href="../why/" class="btn btn-info btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-arrow-right"></i>
                      </span>
                      <span class="text">Continue</span>
                    </a>
                  </div>
                </div>

              </div>

    {% endblock %}
