{% extends 'base.html' %}

    {% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Why is AI used for this?</h1>
    <p class="mb-4">Read about the different areas and see if you were correct!</p>

    <!-- Content Row -->
    <div class="row">

      <div class="col-lg-6">

        <!-- Default Card Example -->
        <div class="card mb-4">
          <div class="card-header">
            Autonomous cars
          </div>
            <div class="card-body">
          <div class="row">

            <div class="col-7">
                While it is not yet fully developed, the field of autonomous cars have grown and we are now using AI to learn how to drive!
            </div>
            <div class="col-2">
              <img width=250px src="/static/img/car.jpg" />
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
      <div class="card-header">
        Social Robotics
      </div>
        <div class="card-body">
          <div class="row">

            <div class="col-7">
                Social robotics have grown as well, but the AI's embedded in these are no where near human intelligence and adaptability yet.
            </div>
            <div class="col-2">
              <img width=250px src="/static/img/robot.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
      <div class="card-header">
        Recommender systems
      </div>
        <div class="card-body">
          <div class="row">

            <div class="col-7">
                Netflix, Amazon, Google and YouTube have used AI to help with their preduction and recommender algorithms that help figure out what the user might like to watch/buy.
            </div>
            <div class="col-2">
              <img width=250px src="/static/img/2.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
      <div class="card-header">
        AR/VR and Video games
      </div>
        <div class="card-body">
          <div class="row">

            <div class="col-7">
              AI technology is currently developed in these fields, but as of right now, its not that prominent yet.
            </div>
            <div class="col-2">
              <img width=250px src="/static/img/3.jpg" />
            </div>
          </div>
        </div>
      </div>

      </div>
      <div class="col-lg-6">
      <!-- 2nd column -->
      <div class="card mb-4">
      <div class="card-header">
      Construction
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-7">
            It has yet to be used actively on a construction site, but AI is currently helping making calculations and assessing risks of building collapse.
          </div>
          <div class="col-2">
            <img width=250px src="/static/img/4.jpg" />
          </div>
        </div>
      </div>
      </div>

      <div class="card mb-4">
      <div class="card-header">
      Stock Market
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-7">
            AI has been developed to assess risk and execute stock exchange within seconds, increasing the amount of revenue gained from stock trade and allowing near-instant risk analysis
          </div>
          <div class="col-2">
            <img width=250px src="/static/img/5.gif" />
          </div>
        </div>
      </div>
      </div>

      <div class="card mb-4">
      <div class="card-header">
      Medicine and Precise work
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-7">
            AI and ML technology use algorithms to analyze data and make predictions based on that information. AI programs can be at least 95% accurate on a regular basis. This is incredibly useful in the medical field when assessing risk of cancer or other hard to detect illnesses.
          </div>
          <div class="col-2">
            <img width=250px src="/static/img/6.jpg" />
          </div>
        </div>
      </div>
      </div>

      </div>
      <div class="col-xl-1 col-lg-1">
      <div>
      <br><br>
      <a href="../jobs/" class="btn btn-info btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Continue</span>
      </a>
      </div>
      </div>


    {% endblock %}
